/* Your Website Styles */

/* Body Texts */


header {
	background: #FEFEF2;
	max-width: 100%;
	font-family: 'Bad Script', cursive;
	text-align: center;
	border-bottom: solid;
}

h3 {
	color: purple;
	border-bottom: solid;
	margin: 20px;
}

h4 {
	margin: 20px;
}

p {
	max-width: 75%;
	margin: 20px;
}

body {
	font-family: 'Quicksand', sans-serif;
}

aside {
	font-family: 'Handlee', cursive;
	font-size: 1.40em;
	padding: 50px 50px;
	margin-left: 40px;
}

aside p {
	text-align: center;
}

.image {
	width: 50%;
	border-radius: 10%;
	margin: auto;
	display: block;
	margin-top: 30px;

}

html {
	background: url('../img/image-actualsize1.png');
}

.container {
	background-color: #ccffff;
}

/* Anchor Links */

a {
	list-style: none;
	text-decoration: none;
	color: black;
}

a.selected, a:hover {
	color: #ffccff;
}

div {
	margin-top: -60px;	x 
}

footer ul {
	font-size: 0.9em;
	text-align: left;
	list-style: none;
}

/* Show Grid */
.showgrid {
	background: 
}

